.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1500px;
}

textarea{resize:none}

a{text-decoration:none !important; color:#008AFF}

a:hover{color:#ba0000}
.clearfix:after,.clearfix:before{content:"";display:table}

.clearfix:after{clear:both}

.clearfix{zoom:1}
.wrap{width:1004px;margin:0 auto}

.focuss{ margin-top:0px;}

.header{width:100%;height:36px;line-height:36px;background:#efefef;min-width:1000px}

.head{width:auto;padding-bottom: 15px;text-align:right;color:#fff;font-family:Arial; margin-top:30px}

.head a{display:inline-block;padding:0 10px;font-size:14px;color:#fff}

.head a:hover{color:#fff}

::-webkit-input-placeholder{color:#bcb8b8}

:-moz-placeholder{color:#bcb8b8}

::-moz-placeholder{color:#bcb8b8}

:-ms-input-placeholder{color:#bcb8b8}

/* .search .kw{width:300px;height:30px;border:1px solid #ccc;padding-left:15px;background-color:#f5f5f5;margin-left: 36px;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;} */

/* .search .s-bt{width:51px;height:32px; float:right; background:url(../images/search.png) no-repeat;cursor:pointer;vertical-align:middle;margin-top:5px} */

.nav-bar{background:url(../images/scrollbg2.jpg) repeat-x bottom left; background-color:#eee;height:48px; border-bottom:3px solid #94070a;position: relative;
  z-index: 15;}

.nav-cont>li{float:left;line-height:48px;height:48px;position:relative; }

.nav-cont li a{color:#333;di height:46px;line-height:46px;display:block;font-size:16px;width:120px;text-align:center;border-right:1px solid #CCC;border-top:1px solid #fff;border-bottom:1px solid #CCC;border-left:1px solid #fff}

/* .nav-cont li a span{display:inline-block;width:9px;height:9px;background:url(../images/trang.png) no-repeat;vertical-align:middle;transition:all .5s ease-in 0s; margin-left:5px} */

.nav-cont li a:hover,.nav-cont li a.on{background-color:#94070a; color:#fff;border-right:1px solid #7d010b;border-top:1px solid #b30210;border-bottom:1px solid #7d010b;border-left:1px solid #b30210}

.nav-cont li a:hover span{transform:rotate(180deg)}

.two-list{position:absolute;top:48px;left:0;display:none;z-index:100;border-top:3px solid #94070a;}

.nav-cont li .two-list li{float:none;position:relative}

.nav-cont .two-list li a{color:#94070a;background:#eee;border-right:1px solid #CCC;border-top:1px solid #fff;border-bottom:1px solid #CCC;border-left:1px solid #fff;font-size:16px;width:120px; text-align:center;line-height:22px;padding-top:8px;padding-bottom:8px; }

.nav-cont .two-list li a:hover{background:#94070a;border-right:1px solid #7d010b;border-top:1px solid #b30210;border-bottom:1px solid #7d010b;border-left:1px solid #b30210;color:#fff;}

/*.nav-cont>li:hover .two-list{display:block}*/

.three-list{position:absolute;left:205px;bottom:0}

.nav-cont .three-list{display:none}

.two-list li:hover .three-list{display:block}


/*nav2*/

.top-m2{background:#fff;}

.top-m2 .wrap{height:80px;padding-top:10px; }

.top-m2 .logo{float:left;margin-left:0px;width:auto}.top-m2 .logo img{ max-width:none !important}

.top-m2 .head{width:auto;padding-bottom: 15px; margin-top:20px;text-align:right;color:#333;font-family:Arial}

.top-m2 .head a{display:inline-block;padding:0 10px;font-size:14px;color:#333}

.nav2{background:#94070a !important;height:36px; position: relative;
  z-index: 15;}

.nav2 .nav-cont>li{float:left;line-height:36px;height:36px;position:relative; }
.nav2 .nav-cont li a{color:#fff;di height:36px;line-height:36px;display:block; width:auto;font-size:14px;padding:0 20px;text-align:center; border:none}

.nav2 .nav-cont li a span{display:inline-block;width:9px;height:9px;background:url(../images/trang.png) no-repeat;vertical-align:middle;transition:all .5s ease-in 0s; margin-left:5px}

.nav2 .nav-cont li a:hover,.nav2 .nav-cont li a.on{background-color:#94948d; color:#fff; border:none}

.nav2 .nav-cont li a:hover span{transform:rotate(180deg)}

.nav2 .two-list{position:absolute;top:36px;left:0;display:none;z-index:100}

.nav2 .nav-cont li .two-list li{float:none;position:relative}

.nav2 .nav-cont .two-list li a{color:#fff;background:#94948d; border:none;border-bottom:1px solid #CCC;font-size:14px;width:164px;line-height:22px;padding-top:5px;padding-bottom:5px; text-align:left;}

.nav2 .nav-cont .two-list li a:hover{background:#94070a; border:none;border-bottom:1px solid #7d010b;color:#fff;}

.nav2 .three-list{position:absolute;left:205px;bottom:0}

.nav2 .nav-cont .three-list{display:none}

.nav2 .two-list li:hover .three-list{display:block}
/*nav2 end*/


.title{height:350px;}

.box{width:1004px;height:244px;margin:0 auto;position:relative; }
.box img{ width:1004px; height:244px}

.boxin {
    width: 1004px !important;
    height: 244px;
    overflow: hidden;
    position: relative;
    left: 50%;
    margin-left: -502px;
}

.h2{ margin-right:10px; color:#999; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:1.875rem;font-weight:800;}

.box ul{width:1000%;position:absolute;top:0;left:0}

.box ul li{float:left}

.box ol{position:absolute;left:50%;bottom:20px;margin-left:-38px}

.box ol li{float:left;width:6px;height:6px;overflow:hidden;background:#fff;margin:0 3px;cursor:pointer;border-radius:50%}

.box ol li.current{background:#ba0000}
.index-top{ padding-bottom:20px;}
.container .cont-l{float:left;width:415px; padding-bottom:20px;}

.container .cont-r{float:right;width:545px; padding-bottom:20px;}

.container .title{ height:auto;padding-top:10px;border-bottom:1px solid #185ec5;font-size:16px;color:#333;font-family:Arial;position:relative;font-weight:400}
.container .title span{ margin-right:10px; color:#999; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:1.875rem;font-weight:800;}
/*.container .title span em{   color:#94070a; border:2px solid #94070a;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:3px 3px 2px 8px; margin-right:3px;}*/
.container .title span em{   color:#ffffff; background:#185ec5; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:3px 3px 2px 8px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:1.875rem; font-weight:800;margin-right:2px;}
.container .title a.more{ float:right; color:#666; font-size:14px; line-height:35px;}

.container-md .title{ height:auto;padding-top:10px;border-bottom:1px solid #185ec5;font-size:16px;color:#333;font-family:Arial;position:relative;font-weight:400}
.container-md .title span{ margin-right:10px; color:#999; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:1.875rem;font-weight:800;}

.container-md .title span em{   color:#ffffff; background:#185ec5; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:3px 3px 2px 8px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:1.875rem; font-weight:800;margin-right:2px;}
.container-md .title a.more{ float:right; color:#666; font-size:14px; line-height:35px;}

.btn-wrap{
    padding-top: 26px;
}

.btn-wrap a{
    background:#fff; color:#333; float:left; font-size:18px; display:block; line-height:30px; padding:0px 20px 0px 20px; margin-right:10px;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-bottom:10px;border:1px solid #ba0000
}
.btn-wrap a:hover{color:#fff; background:#ba0000; }
.btn-wrap .u-btn{
    display: block;
    width: 366px;
    margin-top: 10px;
    height: 58px;
    color: #333;
    line-height: 58px;
    text-align: center;
    font-size: 20px;
    background-repeat: no-repeat;
}
.btn-wrap .u-btn:first-child{
    margin-top: 0;
}

.title .more{color:#cecece;font-size:14px}

.title .more:hover{color:#ba0000}

.event-lst{padding:10px 0px 10px 0px; border-bottom:1px solid #ddd}

.event-lst dt{font-family: Georgia;float:right;width:70px;text-align:center;line-height:40px;}
.event-lst dt img{width:70px;text-align:center;border:3px solid #f5f5f5; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; margin-top:20px}

.event-lst dt span{display:block;height:30px; color:#666;font-size:14px; font-weight:normal;border-bottom:1px solid #8f3931;}

.event-lst dt p{color:#ba0000;height:30px; font-weight:normal}

.event-lst dd p{margin-top:5px; line-height:150%}

.event-lst dd p:first-child{margin-top:10px}

.event-lst dd{float:left;width:400px;margin-right:25px;color:#999}

.event-lst .yellow{color:#e4a600}

.event-lst .recent{color:#ff9393}

.black a{font-size:14px;color:#8f3931}

.black a:hover{color:#ba0000}

.event-lst .speaker{}

.cont-l .last{border-bottom:1px dotted #d2d2d4;padding-bottom:30px;margin-bottom:15px}

.week{color:#c6c6c6;position:relative;margin-bottom:80px}

.week a{color:#c6c6c6;font-size:14px}

.week .huise{color:#333;}

.week a:hover{color:#ba0000}

.more{position:absolute;right:0}

.week .more{font-size:14px}

.beij{overflow:hidden; margin-top:20px;}

.beij li{padding:10px 0 10px 0;border-bottom:1px solid #e9e9e9;color:#a9a9a9;font-size:12px}

.beij li a{height: 30px; line-height:30px; color:#333;font-size:1.125rem;display: block;overflow: hidden;}

.beij li a:hover{color:#ba0000}
.beij li span{font-family: Georgia;}

.beij2{overflow:hidden; margin-top:20px;}

.beij2 li{padding:10px 0 10px 0;line-height:30px;border-bottom:1px solid #e9e9e9;color:#a9a9a9;font-size:12px; height:30px; overflow:hidden}

.beij2 li a{line-height:32px; color:#333;font-size:14px;overflow: hidden; margin-left:10px; }

.beij2 li a:hover{color:#ba0000}

.beij2 li span.time{font-family: Georgia; color:#ba0000;  margin-right:10px;}

.slideBox{ width:420px; height:270px; overflow:hidden; position:relative;margin-top:30px; float:left}
		.slideBox .hd{ height:40px; overflow:hidden; position:absolute; right:0px; bottom:30px; z-index:1; padding:0px 5px 0px 15px;}
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left; margin-top:10px;}
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:15px; text-align:center; background:#fff; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#ba0000; color:#fff; }
		.slideBox .bd{ position:relative; height:100%; z-index:0;   }
		.slideBox .bd li{ zoom:1; vertical-align:middle; height:270px; line-height:40px;}
        .slideBox .bd li a{ color:#333;}
		.slideBox .bd img{ width:420px; height:230px; display:block;  }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBox .prev,
		.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; filter:alpha(opacity=80);opacity:0.8;   }
		.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
		.slideBox .prev:hover,
		.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.slideBox .prevStop{ display:none;  }
        .slideBox .nextStop{ display:none;  }
        .slideBox .largetitle{font-size:16px;max-width: 300px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;float: left; width: 320px;}
        .slideBox .datadesc{float: right;font-family:Georgia;font-size:12px;color:#a9a9a9}

		.entab{ height:30px; overflow:hidden; border-bottom:1px solid #ba0000}
		/* .entab a{ float:left; height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#333; background:url(../images/entabbg0.png) bottom right no-repeat; padding:0px 20px 0px 10px;} */
		/* .entab a.on,.entab a:hover{ background:url(../images/entabbg1.png) bottom right no-repeat; color:#fff} */
		.encontbox{ background:#fff; width:100%; padding-top:20px; padding-bottom:20px; filter:alpha(opacity=80);
      -moz-opacity:0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;}
		.encontcont{width:95%; margin:0 auto; background:#ffffff; margin-top:10px;}
		h1.enconth1{font-size:20px; line-height:2em; color:#333; text-align:center;}
		.encontbox ul.cont-art-li{ margin-left:20px;}
		.encontbox ul.cont-art-li li a:hover, .encontbox ul.cont-art-li li a.on {
    background: #ccc;
    border: 1px solid #ccc;
    color: #000;
}
