---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<link href="assets/css/index.css" rel="stylesheet" type="text/css">

<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->

  <script>
    $(function(){	
      $('.navname').each(function(index){
          if($(this).attr("href").indexOf("Index/index")>0)
        {
           $(this).addClass("on"); 	
        }	
      });
    });

    </script>
<script>
    var num = 0;

    function cron_pic(){ 

    var div1 = document.getElementById('slideBox');
    var div2 = div1.getElementsByTagName('div')[0];
    var div3 = div2.getElementsByTagName('div')[0];
    var ul1 = div3.getElementsByTagName('ul')[0];
    var ul1_left = ul1.style.left;
    console.log(div2)
    switch (num){
      case 0:
      ul1.style.left = "0px";
        break;
      case 1:
      ul1.style.left = "-420px";
        break;
      case 2:
      ul1.style.left = "-840px";
        break;
      case 3:
      ul1.style.left = "-1260px";
          break;
    }
    num++;
    num = num %4;
    } 
    var t2 = window.setInterval("cron_pic()",2500); 

  </script>


	<!-- 主体 -->
	
  <div class="mainpart">
    <div class="container wrap clearfix">
    
      <div class="index-top">
        <h2 class="title"><span><em>N</em>ews</span><a href="pages/news" class="more">&gt;&gt;More</a></h2>
        
        <div id="slideBox" class="slideBox">
  
        <div class="bd">
          <div class="tempWrap" style="overflow:hidden; position:relative; width:420px">
            <ul style="width: 1680px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: 0px;">
        <!-- 开始 --> 
        {% for post in posts %}
        {% if post.is_show_left == true %}

        {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
      {% assign thumbnail=thumbnail | strip %}     

      {% unless site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <li style="float: left; width: 420px;">
        <a href="{{ post.url | absolute_url }}" title="{{ post.title | strip_html }}" target="_blank">
          <img src="{{ thumbnail | absolute_url }}" style="background-image:url(images/content/2022-06/20220622081702935444.jpg); background-size:cover; background-position:center; background-repeat:no-repeat">
          {{ post.title | strip_html }}, {% assign date_format = site.date_format | default: "%B %-d, %Y" %} {{ post.date | date: date_format }}
        </a>              
      </li>

      {% endif %}
      {% endunless %}

      {% endif %}
      {% endfor %}




           </ul></div>
			</div>

			<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>

		</div>
        
        <script type="text/javascript">
		jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,effect:"leftLoop",});
		</script>
        
        <div>
        <ul class="beij clearfix" style="margin-bottom:20px; width:550px; float:right">

          {% for post in posts %}

          {% if post.is_show_right == true %}

        <li>
              <span style="float:right">{% assign date_format = site.date_format | default: "%B %-d, %Y" %} {{ post.date | date: date_format }}</span>
              <a href="{{ post.url | absolute_url }}" title="{{ post.title | strip_html }}" target="_blank">{{ post.title | strip_html }}</a>
        </li>

        {% endif %}

        {% endfor %}
        </ul>
        
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class=" container-md " role="main">
<h2 id="contact-us">Contact us</h2>
<ul>
  <li>
<a href="mailto:dongeliu@mail.ustc.edu.cn"><img class="emoji" title=":e-mail:" alt=":e-mail:" raw="📧" src="https://github.githubassets.com/images/icons/emoji/unicode/1f4e7.png" style="vertical-align: middle; display: inline; max-width: 1em; visibility: hidden;" onload="this.style.visibility='visible'" onerror="this.replaceWith(this.getAttribute('raw'))"></a> dongeliu@mail.ustc.edu.cn,  <a href="mailto:lil1@ustc.edu.cn"><img class="emoji" title=":e-mail:" alt=":e-mail:" raw="📧" src="https://github.githubassets.com/images/icons/emoji/unicode/1f4e7.png" style="vertical-align: middle; display: inline; max-width: 1em; visibility: hidden;" onload="this.style.visibility='visible'" onerror="this.replaceWith(this.getAttribute('raw'))"></a> lil1@ustc.edu.cn</li>
  <li>
<a href="https://ustc.edu.cn/"><img class="emoji" title=":office:" alt=":office:" raw="🏢" src="https://github.githubassets.com/images/icons/emoji/unicode/1f3e2.png" style="vertical-align: middle; display: inline; max-width: 1em; visibility: hidden;" onload="this.style.visibility='visible'" onerror="this.replaceWith(this.getAttribute('raw'))"></a> Dept. EEIS, No. 443 Huangshan Road, Hefei,
Anhui Province, China</li>
  <li>
<a href="https://ustc.edu.cn/"><img class="emoji" title=":mailbox_with_mail:" alt=":mailbox_with_mail:" raw="📬" src="https://github.githubassets.com/images/icons/emoji/unicode/1f4ec.png" style="vertical-align: middle; display: inline; max-width: 1em; visibility: hidden;" onload="this.style.visibility='visible'" onerror="this.replaceWith(this.getAttribute('raw'))"></a> 230027</li>
</ul>
</div>